
body {
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Sudoku-by-L2G-20050714.svg/800px-Sudoku-by-L2G-20050714.svg.png");
    background-blend-mode: saturation;
    background-size: cover;*/
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li #titleNavBar {
    color: blanchedalmond;
    font-size: 16px;
    padding: 13.3333px;
    margin: 0px;
}

#bodyDiv {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    min-width: 300px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    width: 50%;
}

#title {
    color: rgb(207, 155, 94);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    margin: 10px 0 24px;
    text-align: center;
    margin-top: 60px;
}

#pName, #pPassword {
    text-align: left;
    /* padding-left: 36.25px; */
    margin-top: 40px;
    margin-bottom: 4px;
    margin-left: 10%;
    margin-right: 10%;
}


#inputName, #inputPassword {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    color: red;
}

button {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 20px 0 20px;
    display: inline-block;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(119, 28, 107);
    color: cornsilk;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

    button:hover {
        background-color: rgb(46, 12, 139);
    }
