.title {
    padding-bottom: 10px;
    text-decoration: underline;
}

span {
    margin: auto;
    width: 50%;
    padding: 10px;

    display: block;
    height: 108px;
    width: 108px;
    line-height: 25px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
}

span {
    display: block;
    height: 108px;
    width: 108px;
    line-height: 25px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
}
