body {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
}

.cards {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

.card {
    position: center;
    display: inline-block;
    width: 142px;
    height: 140px;
    font: 40px "Trebuchet MS";
    margin: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}



.card--heart {
    padding-top: 50px;
    color: #e44145;
}

    .card--heart:after {
        content: attr(value);
    }

.card--spade {
    color: #252525;
}

